name: Build-Release

on:
  workflow_dispatch:
    inputs:
      release-tag:
        description: 'Release Tag (v1.x.x)'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}

      - name: write secrets info
        run: |
          echo keystore.password='${{ secrets.STORE_PASSWORD }}' >> signing.properties
          echo key.alias='${{ secrets.KEY_ALIAS }}' >> signing.properties
          echo key.password='${{ secrets.KEY_PASSWORD }}' >> signing.properties
      - run: chmod +x gradlew

      - name: Release Build
        run: ./gradlew app:assembleRelease

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        if: ${{ success() }}
        with:
          tag_name: ${{ inputs.release-tag }}
          files: app/build/outputs/apk/release/*
          generate_release_notes: true